@import './../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    padding-top: 52px;
}

.content-box-border {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
    width: 568px;
    height: auto;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    background: #3DCFB61A;
}

.content-row {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
}

h3 {
    font-family: Fira Code;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #3DCFB6;
}

h4 {
    color: #3DCFB6;
    font-family: Karla;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.06px;
}

p {
    font-family: Karla;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}