@import './../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    padding: 96px 112px;

    @include respond-to(desktop-large) {
        @include dFlex($d: flex, $fd: column !important, $jc: flex-start, $ai: flex-start, $g: 502px);
      }

      @include respond-to(desktop) {
 
      }

      @include respond-to(desktop-small) {

      }
    
      @include respond-to(tablet-large) {

      }

      @include respond-to(tablet-small) {

      }
    
      @include respond-to(smartphone-large) {

      }
      
      @include respond-to(smartphone-medium) {
    
      }

      @include respond-to(smartphone-small) {
   
      }

    >img {
        &:first-child {
            width: 568px;
            height: 568px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}


.content-box {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    padding-top: 52px;
}

.content-box-border {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid $content-box-border;
    background: $content-box-bg;
}

.content-row {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
}
