@import './../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    padding: 96px 112px;

    >img {
        &:first-child {
            width: 568px;
            height: 568px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}

.content-box {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    padding-top: 52px;
}

.content-box-border {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
    width: 568px;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid $content-box-border;
    background: $content-box-bg;
}

.content-row {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
}