// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    padding: 96px 92px;
    padding-top:124px;

    >img {
        &:first-child {
            width: 568px;
            height: 568px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}

.content-box {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    padding-top: 52px;
}

.content-box-border {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid styles.$content-box-border;
    background: styles.$content-box-bg;

    >p:first-of-type {
        text-align: justify;
    }
}

.content-row {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {

    // 1024px;
    section {
        padding: 80px;
        padding-top:112px;
        gap: 48px;

        >img {
            &:first-child {
                width: 410px;
                height: 410px;
            }
        }
    }
}

@include styles.respond-to(tablet-small) {

    // 768px;
    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
        padding: 80px;
        padding-top:108px;

        >img {
            &:first-child {
                width: 100%;
                box-sizing: border-box;
                height: auto;
            }
        }
    }
}

@include styles.respond-to(smartphone-medium) {
    // 576px

    section {
        gap: 24px;
        padding: 52px;
        padding-top:94px;
    }

    h3 {
        font-size: styles.$h3-mobile-size;
        letter-spacing: styles.$h3-mobile-letter-spacing;
    }

    h4 {
        font-size: styles.$h4-mobile-size;
        line-height: styles.$h4-mobile-line-height;
    }

}

@include styles.respond-to(smartphone-small) {
    // 385px
    section {
        gap: 12px;
        padding: 24px;
        padding-top:68px;
    }

    .content-box-border {
        padding: 20px;
    }

    h3 {
        font-size: styles.$h3-mobile-size-small-height;
      }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    // 385px
    section {
        gap: 12px;
        padding: 24px;
        padding-top:68px;
    }

    .content-box-border {
        padding: 20px;
    }

    h3 {
        font-size: styles.$h3-mobile-size-small-height;
      }
}