<section id="aboutMe">
  <img src="./../../../assets/img/ich.JPG" alt="" />

  <div class="content-box">
    <h4>{{ 'aboute-me.title' | translate }}</h4>
    <div class="content-box-border">
      <h3>{{ 'aboute-me.subtitle' | translate }}</h3>
      <p>{{ 'aboute-me.intro' | translate }}</p>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_1.svg" alt="" />
        <p>{{ 'aboute-me.first' | translate }}</p>
      </div>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_2.svg" alt="" />
        <p>{{ 'aboute-me.second' | translate }}</p>
      </div>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_3.svg" alt="" />
        <p>{{ 'aboute-me.third' | translate }}</p>
      </div>
    </div>
  </div>
</section>
