<section>
  <h5>{{ 'feedback.title' | translate }}</h5>
  <img class="quotes-icon" src="./../../../assets/img/quotes.svg" alt="" />

  <div class="feedback-slider">
    <div class="feedback-container">
      <p>{{ 'feedback.l_pan' | translate }}</p>
      <div class="author-div">
        <hr />
        <p>L. Pan - Team Partner</p>
      </div>
    </div>

    <div class="feedback-container">
      <p>{{ 'feedback.g_heinrich' | translate }}</p>
      <div class="author-div">
        <hr />
        <p>G. Heinrich - Frontend Developer</p>
      </div>
    </div>

    <div class="feedback-container">
      <p>{{ 'feedback.e_henriks' | translate }}</p>
      <div class="author-div">
        <hr />
        <p>E. Henriks - Customer</p>
      </div>
    </div>
  </div>

  <div class="slide-arrows-div" >
    <svg class="feedback-arrow arrow-left" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 12H4"/>
      <path d="M10 18L4 12l6-6"/>
    </svg>
    
    <svg width="100" height="50">
        <circle cx="20" cy="20" r="5" fill="green" />
        <circle cx="50" cy="20" r="5" fill="white" stroke="black" />
        <circle cx="80" cy="20" r="5" fill="white" stroke="black" />
    </svg>

    <svg class="feedback-arrow" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 12h16"/>
      <path d="M14 6l6 6-6 6"/>
    </svg>
  </div>

</section>
