// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: center, $g: 0px);
  padding: 96px 92px;
  padding-top: 72px;
  overflow: hidden;
  position: relative;
}

h5 {
  text-align: center;
  padding: 0 12px;
  z-index: 9999;
}

.feedback-slider {
  @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 68px);
  width: 140%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-top:48px;
}

.quotes-icon {
  width: auto;
  position: relative;
  left: -20%;
  top: 80px;
  height: 48px;
  z-index: 2;
}

.feedback-container {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
  flex-basis: calc((100% - 136px) / 3);
  position: relative;
  height: 200px;
  flex: 1;
  padding: 32px 32px;
  border-radius: 30px;
  border: 1px solid styles.$feedback-container-border;
  background: styles.$feedback-container-bg;

  &:nth-child(2) {
    filter: brightness(1.15);
    height: 250px;
    background-color: styles.$feedback-current-container-bg;
    padding-top: 60px;
  }
}

.author-div {
  @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 48px);
  width: 100%;
  box-sizing: border-box;
}

.slide-arrows-div {
  @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 10px);
  padding-top: 50px;
}

.feedback-arrow {
  position: relative;
  top: 5px;

  &:hover {
    transition: transform 0.3s ease;
    stroke: styles.$feedback-arrow-hover;
    cursor: pointer;
    transform: scale(1.1) translateX(3px);
  }
}

.arrow-left {
  &:hover {
    transform: translateX(-3px);
  }
}

hr {
  flex: 1;
  min-width: 100px;
}

.filter-left {
  position: absolute;
  background: linear-gradient(to right, styles.$feedback-container-linear1, styles.$feedback-container-linear2);
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 4;
}

.filter-right {
  position: absolute;
  background: linear-gradient(to left, styles.$feedback-container-linear1, styles.$feedback-container-linear2);
  right: 0;
  width: 15%;
  height: 100%;
  z-index: 4;
}

// ==================
// ANIMATION
// ==================

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.move-left {
  animation: moveLeft 0.4s ease forwards;
}

.move-right {
  animation: moveRight 0.4s ease forwards;
}

// ==================
// RESPONSIVE STYLES
// ==================

@media screen and (max-width: 1800px) {
  .quotes-icon {
    left: -19.5%;
  }
}

@media screen and (max-width: 1655px) {
  .quotes-icon {
    left: -19%;
  }
}

@media screen and (max-width: 1482px) {
  .quotes-icon {
    left: -18%;
  }
}

@media screen and (max-width: 1284px) {
  .quotes-icon {
    left: -17%;
  }
}

@media screen and (max-width: 1210px) {
  .feedback-container {
    height: 250px;

    &:nth-child(2) {
      height: 300px;
      padding-top: 60px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .feedback-container {
    height: 260px;

    &:nth-child(2) {
      height: 310px;
      padding-top: 60px;
    }
  }

  .quotes-icon {
    left: -16%;
  }

}

@include styles.respond-to(tablet-large) {
  section {
    padding: 80px;
    padding-top: 72px;
  }

  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 48px);
    width: 160%;
  }

  .quotes-icon {
    left: -20%;
  }
}

@media screen and (max-width: 910px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 170%;
  }

  .quotes-icon {
    left: -22%;
  }
}

@media screen and (max-width: 852px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 180%;
  }

  .feedback-container {
    height: 280px;

    &:nth-child(2) {
      height: 320px;
      padding-top: 60px;
    }
  }

  .quotes-icon {
    left: -23%;
  }
}

@include styles.respond-to(tablet-small) {
  section {
    padding: 80px;
    padding-top: 72px;
  }

  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 200%;
  }

  .feedback-container {
    height: 260px;

    &:nth-child(2) {
      height: 300px;
      padding-top: 60px;
    }
  }

  .quotes-icon {
    left: -26%;
  }
}

@media screen and (max-width: 720px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 220%;
  }

  .feedback-container {
    height: 280px;

    &:nth-child(2) {
      height: 320px;
      padding-top: 60px;
    }
  }

  .quotes-icon {
    left: -28%;
  }
}

@media screen and (max-width: 632px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 260%;
  }

  .feedback-container {
    height: 260px;

    &:nth-child(2) {
      height: 300px;
      padding-top: 60px;
    }
  }

  .quotes-icon {
    left: -33%;
  }
}

@include styles.respond-to(smartphone-medium) {
  section {
    padding: 80px;
    padding-top: 72px;
  }

  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 22px);
    width: 260%;
  }

  .feedback-container {
    padding: 40px;
    height: 260px;

    &:nth-child(2) {
      height: 300px;
      padding-top: 60px;
    }
  }

  .filter-left {
    width: 10%;
  }

  .filter-right {
    width: 10%;
  }

  .author-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 16px);

    >hr {
      min-width: 50px;
    }
  }

  h5 {
    font-size: styles.$h5-mobile-size;
  }
}

@media screen and (max-width: 520px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 280%;
  }

  .feedback-container {
    height: 310px;

    &:nth-child(2) {
      height: 350px;
    }
  }
}

@media screen and (max-width: 460px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 360%;
  }
  
  .quotes-icon {
    left: -44%;
  }
}

@media screen and (max-width: 440px) {
  .quotes-icon {
    left: -43%;
  }
}

@media screen and (max-width: 400px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 28px);
    width: 360%;
  }

  .feedback-container {
    height: 320px;
    padding: 20px;

    &:nth-child(2) {
      height: 360px;
    }
  }

  .quotes-icon {
    left: -42%;
  }
}


@include styles.respond-to(smartphone-small) {
  section {
    padding: 80px;
    padding-top: 72px;
  }

  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 22px);
    width: 390%;
  }

  .feedback-container {
    padding: 20px;
    height: 320px;

    &:nth-child(2) {
      height: 360px;
      gap: 40px;
    }
  }

  .filter-left {
    width: 10%;
  }

  .filter-right {
    width: 10%;
  }

  .author-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 16px);

    >hr {
      min-width: 50px;
    }
  }

  h5 {
    font-size: styles.$h5-mobile-size;
    width: calc(100vw - 100px);
  }

  .quotes-icon {
    left: -46%;
  }
}

@media screen and (max-width: 340px) {
  .feedback-slider {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 22px);
    width: 420%;
  }

  .feedback-container {
    padding: 15px;
    height: 320px;

    &:nth-child(2) {
      height: 360px;
      gap: 40px;
    }
  }

  .filter-left {
    width: 20%;
  }

  .filter-right {
    width: 20%;
  }
}

