@import './../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: center, $g: 0px);
    color: white;
    padding: 96px 112px;
}

.quotes-icon {
    position: relative;
    left: -265px;
    top: 45px;
    z-index: 2;
}

.feedback-slider {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 68px);
    width: 140%;
    box-sizing: border-box;
}

.feedback-container {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
    width: 820px;
    padding: 32px 32px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    background: #3DCFB61A;

    &:nth-child(2) {
        filter: brightness(1.15);
        background-color: rgb(38, 82, 75);
        padding: 38px 32px;
    }
}

.author-div {
    width: 100%;
    box-sizing: border-box;
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 48px);
}

.slide-arrows-div {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 10px);
    padding-top: 50px;

    >svg {
        &:last-child {
           
        }
    }
}

.feedback-arrow {
    position:relative;
    top:5px;
    &:hover {
        transition: transform 0.3s ease;
        stroke: $feedback-arrow-hover;
        cursor:pointer;
        transform: scale(1.1) translateX(3px);
    }
}

.arrow-left {
    &:hover {
        transform: translateX(-3px);
    }
}

hr {
    width: 150px;
}