@use './../../../../styles.scss' as styles;

.section-social-links {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-end, $g: 0px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    padding: 0px 5%;
    max-width: 1920px;
    margin: 0 auto;
    z-index:3;
}

.left {
    height:100vh;
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-end, $ai: flex-end, $g: 9px);

    hr {
        border: none;
        height: 25%;
        width: 2px;
        background-color: styles.$hr-color;
    }
}

.right-links-icons {
    @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 9px);

    >a:first-child {
        display: none;
    }
}

.right {
    height:100vh;
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-end, $ai: flex-end, $g: 8px);
    width: 0;
    box-sizing: border-box;

    >div:first-child {
        position: relative;
        top: -130px;
        right: -110px;

        >a {
            transform: rotate(270deg);
            white-space: nowrap;
            display: inline-block;
            color: styles.$a-visited-color;
        }
    }

    >a {
        >img {
            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    hr {
        border: none;
        height: 15vh;
        width: 2px;
        background-color: styles.$main-text;
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@media screen and (max-width: 1331px) {
    .right {
        >div:first-child {
            display: none;
        }
    }

    .right-links-icons {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);

        >a:first-child {
            display: block;
        }
    }
}

@include styles.respond-to(smartphone-medium) {
    .left {
        gap: 12px;
    }

    .right {
        >div:first-child {
            display: none;
        }
    }

    .right-links-icons {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);

        >a:first-child {
            display: block;
        }
    }
}

@include styles.respond-to(smartphone-small-height) {
    .right-links-icons {
        gap: 4px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .right-links-icons {
        gap: 4px;
    }
}