// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

.content-rows-div {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.content-row {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid styles.$contact-form-row-border;
    border-bottom: 1px solid styles.$contact-form-row-border;
    padding: 5%;
    height: 150px;
    cursor: pointer;

    >label,
    input,
    textarea {
        min-height: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &:first-child {
        border-bottom: none;
    }

    &:nth-child(3) {
        border-top: none;
    }

    &:hover {
        filter: brightness(1.1);
        border-color: lighten(styles.$contact-form-row-border, 25%);
    }
}

label {
    color: styles.$main-color;
}

.form-input {
    background-color: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
    color: styles.$placeholder-text;
    font-size: styles.$form-input-mobile-size;

    &::placeholder {
        color: styles.$placeholder-text;
    }

    &::-webkit-input-placeholder {
        color: styles.$placeholder-text;
    }

    &::-moz-placeholder {
        color: styles.$placeholder-text;
    }

    &:-ms-input-placeholder {
        color: styles.$placeholder-text;
    }

    &::-ms-input-placeholder {
        color: styles.$placeholder-text;
    }

    &:focus-visible {
        outline: none;
        caret-color: styles.$caret;

        &::placeholder {
            color: transparent;
        }

        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &::-ms-input-placeholder {
            color: transparent;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px styles.$general-bg-color inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: styles.$placeholder-text !important;
}

.terms-div {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;
}

.terms-row {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 12px);
    padding-bottom: 10px;

    span {
        color: styles.$placeholder-text;

        >a {
            color: styles.$text-link-color;
        }
    }

    >input {
        appearance: none;
        min-width: 17px;
        min-height: 17px;
        border: 2px solid styles.$main-color;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        &:checked {
            background-color: transparent;
            /* Checkbox bleibt transparent */
            border-color: styles.$main-color;
        }

        &:checked::after {
            content: "";
            position: absolute;
            left: 5px;
            top: -1px;
            width: 3px;
            height: 10px;
            border: solid styles.$main-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    }
}

.submit-row {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.missing-field-div {
    padding-bottom: 30px;
    color: red;
}

.term-missing-msg {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: flex-start, $g: 0px);
}

.missing-msg {
    color: rgb(199, 80, 51);
    position: relative;
    bottom: 10px;
}

.success-email-message {
    position:relative;
    right:0;
    left:0;
    top:-20rem;
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    padding: 20% 10%;
    border-radius: 30px;
    border: 1px solid styles.$content-box-border;
    background: styles.$content-box-bg-sucess-msg;
    margin-top: 2.5rem;
    color: styles.$text-link-color;
    font-size: clamp(1.5rem, 2vw, 3rem);
    z-index:99999999;
}

.submit-btn {
    @include styles.btn();
    color: styles.$placeholder-text;

    // Stil für den Button, wenn das Formular gültig ist
    &.validSubmitBtn {
        color: styles.$main-color;
        border-color: styles.$main-color;
        cursor: pointer;
    }

    &.invalidSubmitBtn {
        color: styles.$invalid-submit-btn-text;
        border-color: styles.$invalid-submit-btn-border;
        cursor:not-allowed;
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(smartphone-medium) {
    .terms-row {

        >input {
            width: 30px !important;
            height: 17px !important;
        }
    }
}