@import './../../../styles.scss';

.content-rows-div {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.content-row {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid $contact-form-row-border;
    border-bottom: 1px solid $contact-form-row-border;
    padding: 40px 32px;
    cursor: pointer;

    >label, input, textarea {
        &:hover {
            cursor: pointer;
        }
    }

    &:first-child {
        border-bottom: none;
    }

    &:nth-child(3){
        border-top: none;
    }

    &:hover {
        filter:brightness(1.1);
        border-color: lighten($contact-form-row-border, 25%);
    }
}

.terms-div {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 12px);
    padding:40px 0;
    width: 100%;
    box-sizing: border-box;

    span {
        >a {
            color: $text-link-color;
        }
    }
}