@import './../../../styles.scss';

.content-rows-div {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.content-row {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid $contact-form-row-border;
    border-bottom: 1px solid $contact-form-row-border;
    padding: 40px 32px;
    cursor: pointer;

    >label,
    input,
    textarea {
        &:hover {
            cursor: pointer;
        }
    }

    &:first-child {
        border-bottom: none;
    }

    &:nth-child(3) {
        border-top: none;
    }

    &:hover {
        filter: brightness(1.1);
        border-color: lighten($contact-form-row-border, 25%);
    }
}

label {
    color: $main-color;
}

.form-input {
    background-color: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
    color: $placeholder-text;

    &::placeholder {
        color: $placeholder-text;
    }

    &::-webkit-input-placeholder {
        color: $placeholder-text;
    }

    &::-moz-placeholder {
        color: $placeholder-text;
    }

    &:-ms-input-placeholder {
        color: $placeholder-text;
    }

    &::-ms-input-placeholder {
        color: $placeholder-text;
    }

    &:focus-visible {
        outline: none;
        caret-color: $caret;

        &::placeholder {
            color: transparent;
        }

        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &::-ms-input-placeholder {
            color: transparent;
        }
    }
}

.terms-div {
    @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;
}

.terms-row {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 12px);

    span {
        color: $placeholder-text;

        >a {
            color: $text-link-color;
        }
    }

    >input {
        appearance: none;
        width: 25px;
        height: 18px;
        border: 2px solid $main-color;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        &:checked {
            background-color: transparent;
            /* Checkbox bleibt transparent */
            border-color: $main-color;
        }

        &:checked::after {
            content: "";
            position: absolute;
            left: 5px;
            top: -1px;
            width: 3px;
            height: 10px;
            border: solid $main-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    }
}

.submit-row {
    @include dFlex($d: flex, $fd: row, $jc: center, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box
}

.missing-field-div {
    padding-bottom: 30px;
    color: red;
}

.submit-btn {
    @include btn();
    color: $placeholder-text;
    font-size: 16px;

    // Stil für den Button, wenn das Formular gültig ist
    &.validSubmitBtn {
        color: $main-color;
        border-color: $main-color;
        cursor: pointer;
    }

    &.invalidSubmitBtn {
        color: $placeholder-text;
        border-color: $placeholder-text;
    }
}

.term-missing-msg {
    @include dFlex($d: flex, $fd: row, $jc: center, $ai: flex-start, $g: 0px);
}

.missing-msg {
    color: rgb(199, 80, 51);
    font-size:14px;
}

.success-email-message {
    margin-top:30px;
    color: $text-link-color;
}