<form
  class="content-rows-div"
  (ngSubmit)="onSubmit(contactForm)"
  #contactForm="ngForm"
>
  <div class="content-row">
    <label class="form-text" for="name">{{
      "contact.form_name" | translate
    }}</label>
    <input
      class="form-input"
      [(ngModel)]="contactData.name"
      type="text"
      [placeholder]="'contact.form_name_example' | translate"
      pattern="^[A-Za-zÄÖÜäöüß ]{3,}$"
      id="name"
      name="name"
      required
      #name="ngModel"
    />
    <span class="missing-msg" *ngIf="contactForm.submitted && name.invalid">
      {{ "contact.form_name_required" | translate }}
    </span>
  </div>

  <div class="content-row">
    <label class="form-text" for="email">{{
      "contact.form_mail" | translate
    }}</label>
    <input
      class="form-input"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      [placeholder]="'contact.form_mail_example' | translate"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      required
      #email="ngModel"
    />
    <span *ngIf="contactForm.submitted && email.invalid">
      <span class="missing-msg" *ngIf="email.errors?.['required']">{{
        "contact.form_email_required" | translate
      }}</span>
      <span class="missing-msg" *ngIf="email.errors?.['pattern']">{{
        "contact.form_email_invalid" | translate
      }}</span>
    </span>
  </div>

  <div class="content-row">
    <label class="form-text" for="message">{{
      "contact.form_message" | translate
    }}</label>
    <textarea
      class="form-input"
      [(ngModel)]="contactData.message"
      minlength="4"
      id="message"
      name="message"
      [placeholder]="'contact.form_message_example' | translate"
      required
      maxlength="500"
      #message="ngModel"
    ></textarea>
    <span class="missing-msg" *ngIf="contactForm.submitted && message.invalid">
      {{ "contact.form_message_required" | translate }}
    </span>
  </div>

  <div class="terms-div">
    <div class="terms-row">
      <input
        [(ngModel)]="contactData.termAccepted"
        type="checkbox"
        name="acceptTerms"
        id="acceptTerms"
        required
        #acceptTerms="ngModel"
      />
      <label>
        <span class="terms-text">
          {{ "contact.term" | translate }}
          <a href="privacy-policy">{{ "contact.privacy" | translate }}</a>
          {{ "contact.term_end" | translate }}
        </span>
      </label>
    </div>

    <div class="term-missing-msg">
      <span
        class="missing-msg"
        *ngIf="contactForm.submitted && acceptTerms.invalid"
      >
        {{ "contact.missingTerm" | translate }}
      </span>
    </div>
  </div>

  <div class="submit-row">
    <input
      [ngClass]="{
        validSubmitBtn: contactForm.valid,
        invalidSubmitBtn: !contactForm.valid
      }"
      class="submit-btn form-label"
      type="submit"
      value="Say Hello :)"
    />
  </div>
</form>

<div
  data-aos="fade-right"
  class="success-email-message"
  [ngStyle]="{ display: sendSuccess ? 'flex' : 'none' }"
>
  <p>{{ "contact.success-mail-msg" | translate }}</p>
</div>
