// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
  @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 0px);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 96px;
  padding-top: 48px;
  @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-start, $g: 24px);

  >img {
    height: 60px;
    width: auto;
  }
}

.logo-name {
  line-height: 21px;
}

.topline {
  @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 24px);
}

.custom-toggle {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 30px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: styles.$toggle-bg-c;
  border: 1px solid styles.$toggle-border;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-ball {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 50%;
  height: 26px;
  background-color: styles.$toggle-ball;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.toggle-text-left,
.toggle-text-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
  color: styles.$toggle-inline-text;
}

.toggle-text-left {
  left: 15px;
}

.toggle-text-right {
  right: 15px;
}

.toggle-checkbox:checked+.toggle-label .toggle-ball {
  transform: translateX(40px);
}

.popupBurgerMenu {
  position: absolute;
  right: 42px;
  top: 130px;
  width: 40%;
  height: auto;
  background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
  padding: 32px 0;
  border-radius: 30px;
  border: 1px solid styles.$content-box-border;
  z-index: 99999;
  box-sizing: border-box;
  @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);
}

.contentBurgerMenu {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: center, $g: 24px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.custom-toggle {
  padding-right: 18px;
}

.burger-menu-icon {
  display: none;
}

// ==================
// RESPONSIVE STYLES
// ==================


@include styles.respond-to(desktop-large) {
  // 1920px;

  header {
    padding: 0 112px;
    padding-top: 60px;

    .logo-div {
      >img {
        height: 120px;
        width: auto;
      }
    }
  }

  .logo-name {
    line-height: 28px;
  }
}

@include styles.respond-to(desktop-normal) {
  // 1366px;

  header {
    padding: 0 92px;
    padding-top: 58px;

    .logo-div {
      >img {
        height: 94px;
        width: auto;
      }
    }
  }

  .logo-name {
    line-height: 28px;
  }

}

@include styles.respond-to(tablet-large) {
  // 1024px;

  header {
    padding: 0 80px;
    padding-top: 48px;

    .logo-div {
      >img {
        height: 78px;
        width: auto;
      }
    }
  }

  .logo-name {
    line-height: 22px;
  }

}

@include styles.respond-to(tablet-small) {

  // 768px;
  .topline {
    display: none;
  }

  header {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    padding: 0 42px;
    padding-top: 42px;

    .logo-name {
      display: none;
    }

    >.burger-menu-icon {
      width: 56px;
      height: auto;
      display: block;

      &:hover {
        fill: green;
        cursor: pointer;
      }
    }
  }

  .custom-toggle {
    padding-right: 0px;
  }

  .toggle-text-left,
  .toggle-text-right {
    font-size: 14px;
  }
}

@include styles.respond-to(smartphone-medium) {

  // 576px
  .popupBurgerMenu {
    right: 24px;
    top: 86px;
    width: 45%;
  }

  header {
    padding: 16px 24px;

    >.burger-menu-icon {
      width: 42px;
    }

    .logo-div {
      >img {
        height: 68px;
        width: auto;
      }
    }
  }

  .custom-toggle {
    width: 90px;
    padding-right: 8px;
  }


  .toggle-ball {
    width: 45%;
  }

  .toggle-text-left,
  .toggle-text-right {
    font-size: 12px;
  }
}

@include styles.respond-to(smartphone-small) {

  // 385px 
  header {
    padding: 8px 16px;

    >.burger-menu-icon {
      width: 32px;
    }

    .logo-div {
      >img {
        height: 52px;
        width: auto;
      }
    }
  }

  .popupBurgerMenu {
    right: 16px;
    top: 62px;
    width: 55%;
  }

  .custom-toggle {
    width: 80px;
    padding-left: 16px;
  }

  .toggle-ball {
    width: 45;
    left:2px;
    box-sizing: border-box;
  }

  .toggle-text-left {
    left: 12px;
  }
  
  .toggle-text-right {
    right: 10px;
  }

  .toggle-text-left,
  .toggle-text-right {
    font-size: 10px;
  }
}