<section>

  <header>
    <div class="topline">
      <div class="custom-slide-toggle">
        <input type="checkbox" id="toggle" class="toggle-checkbox" />
        <label for="toggle" class="toggle-label">
          <span class="toggle-text-left">DE</span>
          <span class="toggle-text-right">EN</span>
        </label>
      </div>

      <app-navbar></app-navbar>

    </div>
    <img src="./../../../assets/img/SH.png" alt="" />
  </header>

  <app-headline></app-headline>

  <app-social-links></app-social-links>

  <app-slider></app-slider>

</section>
