<section id="hero">
  <header>
    <div class="topline">
      <div class="custom-toggle">
        <input
          type="checkbox"
          id="languageToggle"
          class="toggle-checkbox"
          [(ngModel)]="isEnglish"
          (change)="toggleLanguage()"
        />
        <label for="languageToggle" class="toggle-label">
          <span class="toggle-text-left">EN</span>
          <span class="toggle-ball"></span>
          <span class="toggle-text-right">DE</span>
        </label>
      </div>

      <app-navbar></app-navbar>
      
    </div>

    <a href="#hero">
      <div class="logo-div">
        <img src="./../../../assets/img/logo-sh.png" alt="" />
        <div class="logo-name">
          <p>Samuel</p>
          <p>Hilgert</p>
        </div>
      </div>
    </a>

    <img
      (click)="openPopupBurgerMenu()"
      class="burger-menu-icon"
      src="./../../../assets/img/menu.svg"
      alt=""
    />

  </header>

  <div class="popupBurgerMenu" *ngIf="openBurgerMenu" #popupBurgerMenu>
    <div class="contentBurgerMenu">
      <app-navbar></app-navbar>
      <div class="custom-toggle">
        <input
          type="checkbox"
          id="languageToggle"
          class="toggle-checkbox"
          [(ngModel)]="isEnglish"
          (change)="toggleLanguage()"
        />
        <label for="languageToggle" class="toggle-label">
          <span class="toggle-text-left">EN</span>
          <span class="toggle-ball"></span>
          <span class="toggle-text-right">DE</span>
        </label>
      </div>
    </div>
  </div>

  <app-social-links></app-social-links>

  <app-headline></app-headline>

<app-slider></app-slider>

</section>
