// @import './../../styles.scss';
@use './../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    padding: 96px 112px;
}

.content-box-contact {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 880px;
    height: auto;

    span {
        >span {
            color: styles.$text-link-color;
        }
    }
}
