<section>
  <div class="content-box-contact">
    <h4>Contact me</h4>
    <h3>
      Let's work <br />
      together
    </h3>
    <h4>Got a problem to solve?</h4>
    <p>
      Contact me through this form, I am interested in hearing from you, knowing
      your ideas and contributing to your projects with my work.
    </p>
    <p>Need a Frontend developer? <a>Let's talk!</a></p>
  </div>

  <div class="content-rows-div">
    <div class="content-row">
      <h5>What's your name?</h5>
      <input type="text" placeholder="Your name goes here">
    </div>

    <div class="content-row">
        <h5>What's your email?</h5>
        <input type="text" placeholder="youremail@email.com">
      </div>

      <div class="content-row">
        <h5>How can i help you?</h5>
        <input type="text" placeholder="Hello Lukas, I am interested in...">
      </div>

      <div class="terms-div">
        <img src="./../../assets/img/checkbox-term.svg" alt="">
        <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</p>
      </div>
  </div>
</section>
