// @import './../../styles.scss';
@use './../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    padding: 96px 92px;
    padding-top: 72px;
}

.content-box-contact {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    height: auto;

    span {
        >span {
            color: styles.$text-link-color;
        }
    }
}


// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
    // 1024px;

    section {
        padding: 80px;
        padding-top:112px;
        gap: 48px;
    }
}

@include styles.respond-to(tablet-small) {
    // 768px;

    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
        padding: 80px;
        padding-top:108px;
    }
}

@include styles.respond-to(smartphone-medium) {
    // 576px

    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 80px);
        padding: 96px 52px;
        padding-top: 58px;
    }

    .content-box-contact {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
        width: 100%;
        height: auto;
    
        span {
            >span {
                color: styles.$text-link-color;
            }
        }
    }

    h3 {
        font-size: styles.$h3-mobile-size;
        letter-spacing: styles.$h3-mobile-letter-spacing;
    }

    h4 {
        font-size: styles.$h4-mobile-size;
        line-height: styles.$h4-mobile-line-height;
    }
}

@include styles.respond-to(smartphone-small) {
    // 385px

    section {
        padding: 78px 24px;
        padding-top: 52px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    section {
        padding: 78px 24px;
        padding-top: 52px;
    }
}