// @import './../../styles.scss';
@use './../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
    margin-bottom: -1px;
}

.content-box-contact {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    height: auto;

    span {
        >span {
            color: styles.$text-link-color;
        }
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
    section {
        gap: 48px;
    }
}

@media screen and (max-width: 990px) {
    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
    }

}

@include styles.respond-to(smartphone-medium) {
    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 80px);
    }

    .content-box-contact {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
        width: 100%;
        height: auto;

        span {
            >span {
                color: styles.$text-link-color;
            }
        }
    }
}