<section id="contact">
  <div class="content-box-contact">
    <h4>{{ 'contact.title' | translate }}</h4>
    <h3>{{ 'contact.subtitle' | translate }}</h3>
    <h4>{{ 'contact.subline' | translate }}</h4>
    <p>{{ 'contact.text' | translate }}</p>
    <span>{{ 'contact.question' | translate }} <p>{{ 'contact.link' | translate }}</p></span>
  </div>

  <div class="content-rows-div">
    <div class="content-row">
      <h4>{{ 'contact.form_name' | translate }}</h4>
      <input type="text" placeholder="Your name goes here">
    </div>

    <div class="content-row">
        <h4>{{ 'contact.form_mail' | translate }}</h4>
        <input type="text" placeholder="youremail@email.com">
      </div>

      <div class="content-row">
        <h4>{{ 'contact.form_message' | translate }}</h4>
        <input type="text" placeholder="Hello Lukas, I am interested in...">
      </div>

      <div class="terms-div">
        <img src="./../../assets/img/checkbox-term.svg" alt="">
        <span class="terms-text ">{{ 'contact.term' | translate }} <a href="">privacy policy</a> {{ 'contact.term_end' | translate }}</span>
      </div>
  </div>
</section>
