@use './../../../../styles.scss' as styles;

.section-navbar {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-evenly, $ai: center, $g: 0px);
}

nav {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-evenly, $ai: center, $g: 8%);
    width: 100%;
    box-sizing: border-box;

}

a {
    @include styles.navLinks();
    white-space: nowrap;
    text-decoration: none;
    position: relative; 
    &:hover {
        &::after {
          content: '';
          position: absolute; 
          left: 50%;
          bottom: -1rem;
          width: 10px;
          height: 10px;
          background-color: styles.$main-color;
          border-radius: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s; 
        }
        &::after {
          opacity: 1;
        }
      }
}

// ==================
// RESPONSIVE STYLES
// ==================

@media screen and (max-width: 980px) {
    nav {
        @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-start, $g: 16px);
    }
}

@include styles.respond-to(smartphone-medium) {
    nav {
        gap: 12px;
    }
}

@include styles.respond-to(smartphone-small) {
    nav {
        gap: 8px;
    }
}