@use './../../../styles.scss' as styles;

section {
  @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 0px);
  margin-bottom: -1px;
  background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
  margin: 0 auto;
  height: 100svh;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  z-index: 1;
  // max-width: 1920px;
  width:100%;
  margin: 0 auto;
}