@use './../../../../styles.scss' as styles;

.section-banner {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-end, $g: 0px);
    max-width: 1920px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.banner-container {
    width: 100%;
    box-sizing: border-box;
    transform: rotate(-3deg);
    transform-origin: bottom left;
    overflow: hidden;
}

.banner {
    display: flex;
    align-items: center;
    animation: slide-left 5s linear infinite;
    width: fit-content;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 24px;
    background-color: styles.$banner-bg-c;
    height: 50px;
}

.spacer-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100px;

    circle {
        fill: styles.$banner-circle-color;
    }
}

// ==================
// ANIMATION
// ==================

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-62.5%);
    }
}