// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 90px);
    padding: 96px 92px;
    padding-top: 72px;
}

.content-box-projects {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    height: auto;

    >p:first-of-type {
        text-align: justify;
    }
}

.content-rows-div {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.content-row {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid styles.$row-div-border;
    padding: 40px 32px;

    h4 {
        font-weight: 700;
        color: styles.$project-title;
    }

    &:last-child {
        border-bottom: 1px solid styles.$row-div-border;
    }

    &:hover {
        filter: brightness(1.15);
        background-color: styles.$row-div-hover-fill;
        cursor: pointer;
    }
}

.content-row-title {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 4px);

    >svg {
        position: relative;
        top: 4px;
    }
}

.used-skills-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);

    >div {
        display: flex;
        padding-right: 12px;
        border-right: 1px solid styles.$skills-div-border;

        &:last-child {
            display: flex;
            border: none;
            padding: 0px;
        }
    }
}

.review-container {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    height: 100%;
    width: 500px;
    box-sizing: border-box;
}

.review-col {
    position: relative;
    top: -55px;

    img {
        position: relative;
        right: 20px;
        bottom: 20px;
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }

}

.diagonal-lines {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 10px 20px;
    background: repeating-linear-gradient(135deg,
            styles.$main-color,
            styles.$main-color 1px,
            transparent 2px,
            transparent 10px);
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
    // 1024px;

    section {
        padding: 80px;
        padding-top: 72px;
        gap: 48px;
    }
}

@include styles.respond-to(tablet-small) {
    // 768px;

    section {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
        padding: 80px;
        padding-top: 58px;
    }

    .review-container {
        display: none;
    }
}

@include styles.respond-to(smartphone-medium) {
    // 576px

    section {
        padding: 52px;
        padding-top: 58px;
    }

    .content-row {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 14px);
        padding: 32px 0px;
    }

    .content-row-title {
        @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 4px);

        >svg {
            position: relative;
            top: 4px;
        }
    }

    .used-skills-div {
        @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 4px);

        >div {
            padding-right: 6px;

            >p {
                font-size: styles.$standard-text-mobile-size;
            }
        }
    }
}

@include styles.respond-to(smartphone-small) {
    // 385px

    section {
        padding: 24px;
        padding-top: 92px;
    }

    .used-skills-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

@include styles.respond-to(smartphone-small-height) {
    // height  531px

    h3 {
        font-size: styles.$h3-mobile-size-small-height;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {

    section {
        padding: 24px;
        padding-top: 92px;
    }

    
    .used-skills-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    h3 {
        font-size: styles.$h3-mobile-size-small-height;
    }
}