// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 90px);
    padding: 96px 112px;
}

.content-box-projects {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    height: auto;
}

.content-rows-div {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.content-row {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid styles.$row-div-border;
    padding: 40px 32px;

    h4 {
        font-weight: 700;
        color: styles.$project-title;
    }

    &:last-child {
        border-bottom: 1px solid styles.$row-div-border;
    }

    &:hover {
        filter: brightness(1.15);
        background-color: styles.$row-div-hover-fill;
        cursor: pointer;
    }
}

.content-row-title {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 4px);

    >svg {
        position: relative;
        top: 4px;
    }
}

.used-skills-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);

    >div {
        display: flex;
        padding-right: 12px;
        border-right: 1px solid styles.$skills-div-border;

        &:last-child {
            display: flex;
            border: none;
            padding: 0px;
        }
    }
}

.review-container {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
    height: 100%;
    width: 500px;
    box-sizing: border-box;
}

.review-col {
    position: relative;
    top: -55px;

    img {
        position: relative;
        right: 20px;
        bottom: 20px;
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }

}

.diagonal-lines {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 10px 20px;
    background: repeating-linear-gradient(135deg,
            styles.$main-color,
            styles.$main-color 1px,
            transparent 2px,
            transparent 10px);
}

// ==================
// RESPONSIVE STYLES
// ==================

// @include styles.respond-to(smartphone-medium) {

// }