<section id="projects">
  <div class="content-box-projects">
    <h4>{{ "projectSection.title" | translate }}</h4>
    <h3>{{ "projectSection.subtitle" | translate }}</h3>
    <p>{{ "projectSection.intro" | translate }}</p>

    <div class="content-rows-div">
      <div
        class="content-row"
        *ngFor="let proj of projectList; let i = index"
        (click)="openProjectPopup(i)"
        (mouseenter)="toggleArrow(i, true)"
        (mouseleave)="toggleArrow(i, false)"
      >
        <div class="content-row-title">
          <h4>{{ proj.title }}</h4>
          <svg
            *ngIf="arrowState[i]"
            width="30"
            height="30"
            fill="none"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 17L17 7" />
            <path d="M7 7h10v10" />
          </svg>
        </div>
        <div class="used-skills-div">
          <div *ngFor="let skill of proj.skills.split(', ')">
            <p>{{ skill }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review-container">
    <div class="review-col">
      <div *ngFor="let proj of projectList; let i = index">
        <div
          [ngClass]="{
          'review-animation': arrowState[i],
        }"
          [ngStyle]="{
            display: arrowState[i] ? 'flex' : 'none',
            top: i === 1 ? '75px' : i === 2 ? '160px' : '0'
          }"
          class="diagonal-lines"
        >
          <img [src]="'./' + proj.imgStart" alt="{{ proj.title }}" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-popup-project
  *ngIf="openPopup && selectedProject"
  [ngStyle]="{ display: openPopup ? 'flex' : 'none' }"
  [project]="selectedProject"
  [openPopup]="openPopup"
  (closePopup)="closeProjectPopup()"
  (nextProject)="nextProject()"
>
</app-popup-project>
