// @import './../../../../styles.scss';
@use './../../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 24px);

    h1,
    h2 {
        text-align: center;
    }
}

.headline-btns-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 48px);
    z-index: 3;
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(smartphone-medium) {

    section {
        margin-bottom: 200px;
    }

    h1 {
        font-size: styles.$h1-mobile-size;
        line-height: styles.$h1-mobile-line-height;
        letter-spacing: styles.$h1-mobile-letter-spacing;
    }

    h2 {
        font-size: styles.$h2-mobile-size;
        line-height: styles.$h2-mobile-line-height;
        text-align: left;
    }
}