<section>
  <div class="popup-container">
    <div class="popup-content">
        
      <div class="paragraph">
        <h1>{{ "privacy-policy.title" | translate }}</h1>
        <h3>{{ "privacy-policy.preamble" | translate }}</h3>
        <p>{{ "privacy-policy.preamble-text-1" | translate }}</p>
        <p>{{ "privacy-policy.preamble-text-2" | translate }}</p>
        <p>{{ "privacy-policy.preamble-text-3" | translate }}</p>
      </div>

      <div class="paragraph">
        <h3>{{ "privacy-policy.content-overview" | translate }}</h3>
        <ul>
            <li>{{ "privacy-policy.content-overview-text-1" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-2" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-3" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-4" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-5" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-6" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-7" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-8" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-9" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-10" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-11" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-12" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-13" | translate }}</li>      
            <li>{{ "privacy-policy.content-overview-text-14" | translate }}</li>
            <li>{{ "privacy-policy.content-overview-text-15" | translate }}</li>
        </ul>
      </div>
      
      <div class="paragraph">
        <h3>{{ "privacy-policy.responsible" | translate }}</h3>
        <p>{{ "privacy-policy.responsible-name" | translate }}<br>
        {{ "privacy-policy.responsible-adress" | translate }}<br>
        {{ "privacy-policy.responsible-city" | translate }}<br>
        {{ "privacy-policy.responsible-country" | translate }}</p>
        <p>{{ "privacy-policy.responsible-mail" | translate }}</p>
      </div>

      <div class="paragraph">
        <h3>{{ "privacy-policy.responsible" | translate }}</h3>
        <p>{{ "privacy-policy.responsible-name" | translate }}<br>
        {{ "privacy-policy.responsible-adress" | translate }}<br>
        {{ "privacy-policy.responsible-city" | translate }}<br>
        {{ "privacy-policy.responsible-country" | translate }}</p>
        <p>{{ "privacy-policy.responsible-mail" | translate }}</p>
      </div>


    </div>
  </div>
</section>
