@mixin btn() {
    padding: 10px 24px;
    gap: 10px;
    border-radius: 24px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid $button-border;
    color: $button-text;
    background-color: $button-bg;
    cursor: pointer;
  }