@use './colors.scss' as *;

@mixin btn() {
  padding: clamp(0.5rem, 2vw, 1rem) clamp(0.5rem, 2vw, 2rem);
  border-radius: 24px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid $button-border;
  color: $button-text;
  background-color: $button-bg;
  cursor: pointer;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  line-height: clamp(0.75rem, 1vw, 1.5rem);
}

.btn {
  @include btn();
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: color 0.3s ease;

  span {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
  }

  &:hover span {
    animation: slide 2s ease-in-out infinite;
  }

  &:hover {
    border-color: $button-border-hover;
    color: $button-border-hover;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-160%);
  }

  51% {
    transform: translateX(180%);
  }

  100% {
    transform: translateX(0%);
  }
}

.btn-popup {
  @include btn();

  &:hover {
    border-color: $button-border-hover;
    color: $button-border-hover;
  }
}