/////////// general (short) settings /////////// 
$main-text:white;
$main-color:#3DCFB6;
$nav-links:white;
$header-headline:#D9D9D9;
$header-subline:#D9D9D9;
$bg-color1:#1C1C1C;
$text-link-color: $main-color;

//////////////////////////////

/////////// header /////////// 
$bg-linear-c-1: $bg-color1;
$bg-linear-c-2: #08463B;
$banner-bg-c: #FFFFFF1F;
$banner-circle-color: $main-color;
$hr-color: $main-color;
$a-visited-color: white;
$toggle-border: $main-color;
$toggle-bg-c: transparent;
$toggle-ball: $main-color;
$toggle-inline-text: white;

/////////// content-box /////////// 
$content-box-border: $main-color;
$content-box-bg: #3DCFB61A;

/////////// projects /////////// 
$project-title: $main-text;
$row-div-border: $main-color;
$row-div-hover-fill: rgb(38, 82, 75);
$skills-div-border: $main-color;

/////////// feedback /////////// 
$feedback-container-border: $main-color;
$feedback-container-bg: #3DCFB61A;
$feedback-current-container-bg: rgb(38, 82, 75);
$feedback-container-linear1: $bg-color1;
$feedback-container-linear2: rgba(0, 0, 0, 0);
$feedback-arrow-hover: $main-color;

/////////// contact /////////// 
$contact-form-row-border: $main-color;

/////////// footer /////////// 
$footer-bg-c: $bg-color1;
$footer-center-c:$main-color;

/////////// buttons /////////// 
$button-text:$main-text;
$button-border:#FFFFFF;
$button-border-hover:$main-color;
$button-bg:transparent;

/////////// form /////////// 
$placeholder-text:rgba(255, 255, 255, 0.8);
$caret: white;