/////////// general /////////// 


/////////// header /////////// 
$bg-linear-c-1:#1C1C1C;
$bg-linear-c-2:#08463B;
$banner-bg-c:#FFFFFF1F;
$banner-circle-color: #3DCFB6;
$hr-color:#3DCFB6;
$a-visited-color:white;
$toggle-border: #3DCFB6;
$toggle-bg-c:transparent;
$toggle-ball:#3DCFB6;
$toggle-inline-text:white;

/////////// content-box /////////// 
$content-box-border: #3DCFB6;
$content-box-bg: #3DCFB61A;

// arrows
$feedback-arrow-hover: #3DCFB6;

