@use './colors.scss' as *;

@font-face {
    font-family: 'Fira Code';
    src: url('./../../../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./../../../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

// ==================================================
//  FONT STYLES VARIABLES (FOR SWITCH DISPLAY SIZES)
// ==================================================

// Style for standard text (used for example in main.component.scss)
$standard-text-large-size: 18px;
$standard-text-large-line-height: 21.6px;
$standard-text-mobile-size: 16px;
$standard-text-mobile-line-height: 19.2px;

// Style for h1 headlines
$h1-large-size: 128px;
$h1-large-line-height: 128px;
$h1-large-letter-spacing: -0.02em;
$h1-mobile-size: 62px;
$h1-mobile-line-height: 62px;
$h1-mobile-letter-spacing: -2%;

// Style for h2 headlines
$h2-large-size: 40px;
$h2-large-line-height: 40px;
$h2-mobile-size: 24px;
$h2-mobile-line-height: 24px;

// Style for h3 headlines
$h3-large-size: 64px;
$h3-large-line-height: 64px;
$h3-large-letter-spacing: -0.03em;
$h3-mobile-size: 56px;
$h3-mobile-line-height: 44.8px;
$h3-mobile-letter-spacing: -3%;

// Style for h4 headlines
$h4-large-size: 24px;
$h4-large-line-height: 28.06px;
$h4-mobile-size: 18px;
$h4-mobile-line-height: 21.04px;

// Style for h5 headlines
$h5-large-size: 32px;
$h5-large-line-height: 31.49px;
$h5-mobile-size: 32px;
$h5-mobile-line-height: 31.49px;

// Style for banner text
$banner-text-large-size: 32px;
$banner-text-large-line-height: 38.4px;
$banner-text-mobile-size: 24px;
$banner-text-mobile-line-height: 28.8px;

// Style for form label-text
$form-label-text-large-size: 24px;
$form-label-text-arge-line-height: 28.8px;
$form-label-text-mobile-size: 20px;
$form-label-text-mobile-line-height: 24px;

// Style for form input-text
$form-input-large-size: 18px;
$form-input-large-line-height: 21.6px;
$form-input-mobile-size: 16px;
$form-input-mobile-line-height: 19.2px;

// Style for popup-project-id
$popup-project-id-large-size: 128px;
$popup-project-id-large-line-height: 100px;
$popup-project-id-mobile-size: 72px;
$popup-project-id-mobile-line-height: 72px;

// =======================================
// DEFAULT SETTINGS FOR ALL DISPLAY SIZES
// =======================================

body {
    font-family: Karla;
    font-weight: 400px;
    color: $main-text;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: $h1-large-size;
    line-height: $h1-large-line-height;
    letter-spacing: $h1-large-letter-spacing;
    color: $header-headline;
}

h2 {
    font-family: Fira Code;
    font-weight: 400;
    font-size: $h2-large-size;
    line-height: $h2-large-line-height;
    color: $header-subline;
}

h3 {
    font-family: Fira Code;
    font-weight: 700;
    font-size: $h3-large-size;
    line-height: $h3-large-line-height;
    letter-spacing: $h3-large-letter-spacing;
    color: $main-color;
    overflow-wrap: break-word;
    word-break: break-word;
}

h4 {
    font-family: Karla;
    font-weight: 500;
    font-size: $h4-large-size;
    line-height: $h4-large-line-height;
    color: $main-color;
}

h5 {
    font-family: Fira Code;
    font-weight: 700;
    font-size: $h5-large-size;
    line-height: $h5-large-line-height;
    color: $main-color;
}

.banner {
    font-family: Karla;
    font-weight: 400;
    font-size: $banner-text-large-size;
    line-height: $banner-text-large-line-height;
    color: $main-color;
}

@mixin navLinks () {
    font-family: Fira Code;
    color: $nav-links;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.24px;
    letter-spacing: -3%;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

.form-text {
    font-family: Fira Code;
    font-weight: 500;
    font-size: $form-input-large-size;
    line-height: $form-input-large-line-height;
}

.form-input {
    font-family: Karla;
    font-weight: 400;
    font-size: $form-input-large-size;
    line-height: $form-input-large-line-height;
}

.terms-text {
    font-family: Karla;
    font-size: 15px;
    line-height: 18px;
}

.popup-project-headline {
    font-family: Fira Code;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: $main-color;
}

.footer-brand {
    font-family: Fira Code;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.popup-project-id {
    font-family: Karla;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-size: $popup-project-id-large-size;
    line-height: $popup-project-id-large-line-height;
    color: $main-color;
}





