@use './colors.scss' as *;

@font-face {
    font-family: 'Fira Code';
    src: url('./../../../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./../../../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

// =======================================
// DEFAULT SETTINGS FOR ALL DISPLAY SIZES
// =======================================


html {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

body {
    font-size: clamp(0.5rem, 5vw, 1.25rem);
    line-height: clamp(1.5rem, 2vw, 2rem);
    font-family: Karla;
    font-weight: 400;
    color: $main-text;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h1 {
    font-weight: 700;
    color: $header-headline;
    font-size: 128px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

h2 {
    font-family: Fira Code;
    font-weight: 400;
    color: $header-subline;
    font-size: 62px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

h3 {
    font-family: Fira Code;
    font-weight: 700;
    color: $main-color;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 56px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

h4 {
    font-family: Karla;
    font-weight: 500;
    color: $main-color;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h5 {
    font-family: Fira Code;
    font-weight: 700;
    color: $main-color;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.banner {
    font-family: Karla;
    font-weight: 400;
    color: $main-color;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.form-text {
    font-family: Fira Code;
    font-weight: 500;
}

.form-input {
    font-family: Karla;
    font-weight: 400;
}

.terms-text {
    font-family: Karla;
    font-size: 15px;
    line-height: 18px;
}

.popup-project-headline {
    font-family: Fira Code;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: $main-color;
}

.footer-brand {
    font-family: Fira Code;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.popup-project-id {
    font-family: Karla;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: $project-index;
}

.popup-project-name {
    font-family: Fira Code;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: $project-title;
}

// ==================================================
//  FONT STYLES VARIABLES (FOR SWITCH DISPLAY SIZES)
// ==================================================

// Dynamic style settings for h1 headlines
h1 {
    font-size: clamp(1.5rem, 8vw, 15rem);
    line-height: clamp(1rem, 7vw, 15rem);
    letter-spacing: clamp(-0.02em, 4vw, -0.05em);
}

// Dynamic style settings for h2 headlines
h2 {
    font-size: clamp(1.25rem, 3vw, 5rem);
    line-height: clamp(1rem, 5vw, 15rem);
    letter-spacing: clamp(-0.02em, 5vw, -0.05em);
}

// Dynamic style settings for h3 headlines
h3 {
    font-size: clamp(1.5rem, 4vw, 6rem);
    line-height: clamp(1.5rem, 5vw, 8rem);
    letter-spacing: clamp(-0.02em, 5vw, 0.02em);
}

// Dynamic style settings for h4 headlines
h4 {
    font-size: clamp(1.25rem, 2vw, 3rem);
    line-height: clamp(1.25rem, 5vw, 8rem);
    letter-spacing: clamp(-0.02em, -0.05em, 0.02em);
}

// Dynamic style settings for h5 headlines
h5 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    line-height: clamp(1.75rem, 5vw, 8rem);
    letter-spacing: clamp(-0.02em, -0.05em, 0.02em);
}

// Style for form input-text
$form-input-mobile-size: clamp(0.25rem, 5vw, 1.5rem);

// Style for banner-text
$banner-text-size: clamp(1rem, 5vw, 2rem);

// Style for popup-project-id
$popup-project-id-large-size: 128px;
$popup-project-id-large-line-height: 100px;
$popup-project-id-mobile-size: 72px;
$popup-project-id-mobile-line-height: 72px;

// Style for popup-project-name
$popup-project-name-large-size: 64px;
$popup-project-name-large-line-height: 51.2px;
$popup-project-name-mobile-size: 56px;
$popup-project-name-mobile-line-height: 44.8px;

// ====================
//  FONT STYLES MIXIN
// ====================

@mixin navLinks () {
    font-family: Fira Code;
    color: $nav-links;
    font-weight: 400;
    text-decoration: none;
    font-size: clamp(1rem, 1.75vw, 2.5rem);
    line-height: clamp(0.25rem, 5vw, 1.5rem);

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}