.form-label {
    font-family: Karla;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.06px;
    color: $main-color;
}

.form-input {
    background-color: transparent;
    border: none;
    width:100%;
    box-sizing: border-box;
    font-family: Karla;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $placeholder-text;

    &::placeholder {
        color: $placeholder-text;
    }

    &::-webkit-input-placeholder {
        color: $placeholder-text;
    }

    &::-moz-placeholder {
        color: $placeholder-text;
    }

    &:-ms-input-placeholder {
        color: $placeholder-text;
    }

    &::-ms-input-placeholder {
        color: $placeholder-text;
    }

    &:focus-visible {
        outline: none;
        caret-color: $caret;

        &::placeholder {
            color: transparent; 
        }

        &::-webkit-input-placeholder {
            color: transparent; 
        }

        &::-moz-placeholder {
            color: transparent; 
        }

        &:-ms-input-placeholder {
            color: transparent; 
        }

        &::-ms-input-placeholder {
            color: transparent;
        }
    }
}