@mixin dFlex ($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

html,
body {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden !important;
  margin:0;
}

section {
  width: 100%;
  box-sizing: border-box;
}
