// @import './../../styles.scss';
@use './../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: styles.$bg-filter;
    z-index: 99999;
}

.popup-container {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);
    position: relative;
    background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
    padding: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid styles.$feedback-container-border;
    border-radius: 10px;
    overflow: scroll;
}

.popup-content {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    box-sizing: border-box;

    >h1 {
        color: styles.$project-index !important;
    }

    >h3 {
        color: styles.$project-title !important;
        padding-bottom: 12px;
    }

}

.top {
    width: 100%;
    box-sizing: border-box;
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-end, $ai: flex-end, $g: 0px);
    
    >h1 {
        font-size: 84px;
    }

    >svg {
        fill: styles.$project-close-cross;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
            fill: styles.$project-close-cross-hover;
        }
    }
}


.paragraph {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    box-sizing: border-box;
}

a {
    color: styles.$text-link-color;
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(smartphone-medium) {

    .legal-notice-title {
        h1 {
            font-size: 42px;
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            line-height: 42px;
            width: 100%;
        }

    }

    .paragraph {
        p {
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 100%;
            box-sizing: border-box;
        }

        ul {
            width: 100%;
            box-sizing: border-box;
            word-wrap: break-word;
            overflow-wrap: break-word;

            li {
                word-wrap: break-word;
                overflow-wrap: break-word;
                width: 100%;
                box-sizing: border-box;
            }
        }

        h3 {
            font-size: 28px;
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            line-height: 28px;
            width: 100%;
        }
    }

}


@include styles.respond-to(smartphone-small) {

    section {
        padding: 10px;
    }

    .popup-container {
        padding: 20px;
    }

}