<section>
    <div class="popup-container">
      <div class="popup-content">
  
        <div class="paragraph">
          <h1>{{ "legal-notice.title" | translate }}</h1>
          <h3>{{ "legal-notice.responsible" | translate }}</h3>
        </div>

        <div class="paragraph">
          <p>{{ "legal-notice.responsible-name" | translate }}<br>
          {{ "legal-notice.responsible-adress" | translate }}<br>
          {{ "legal-notice.responsible-city" | translate }}<br>
          {{ "legal-notice.responsible-country" | translate }}</p>
          <p>{{ "legal-notice.authorized-representative" | translate }}</p>
          <p>{{ "legal-notice.responsible-mail" | translate }}</p>
        </div>

        <div class="paragraph">
          <a href="privacy-policy">{{ "legal-notice.link-privacy-policy" | translate }}</a>
        </div>
  
      </div>
    </div>
  </section>
  