// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;


section {
  @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 72px);
  padding: 96px 92px;
  padding-top: 72px;
}

.content-box-skills {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
  width: 100%;
  box-sizing: border-box;
}

.content-box-border {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 30px;
  border: 1px solid styles.$content-box-border;
  background: styles.$content-box-bg;

  >a {
    &:last-child {
      &:hover {
        color: styles.$main-color;
        border-color: styles.$main-color;
      }
    }
  }

  span {
    >a {
      color: styles.$text-link-color;
      cursor: text;
    }
  }

  >a:last-child {
    @include styles.btn();
  }

  >p:first-of-type {
    text-align: justify;
  }
}

.skills-container {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 69px;
  margin-top: 52px;
  width: 100%;
  box-sizing: border-box;
}

.skills-div {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
  box-sizing: border-box;
  height: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.skill {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: center, $g: 8px);
  height: 130px;
  width: 120px;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  >p {
    text-align: center;
  }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
  // 1024px;

  section {
    padding: 80px;
    padding-top: 72px;
    gap: 48px;
  }
}

@include styles.respond-to(tablet-small) {
  // 768px;

  section {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
    padding: 80px;
    padding-top: 58px;
  }
}

@include styles.respond-to(smartphone-medium) {
  // 576px

  section {
    padding: 52px;
    padding-top: 58px;
  }

  h3 {
    font-size: styles.$h3-mobile-size;
    letter-spacing: styles.$h3-mobile-letter-spacing;
  }

  h4 {
    font-size: styles.$h4-mobile-size;
    line-height: styles.$h4-mobile-line-height;
  }

  .skills-container {
    gap: 69px;
    margin-top: 0px;
  }

  .skills-div {
    margin-top: 4px;
  }

  .skill {
    height: 110px;
    width: 100px;
  }
}

@include styles.respond-to(smartphone-small) {
  // 385px

  section {
    padding: 24px;
    padding-top: 58px;
  }

  .content-box-border {
    padding: 20px;
  }

  .skills-container {
    gap: 48px;
  }

  .skills-div {
    margin-top: 12px;
  }

  .skill {
    height: 80px;
    width: 70px;
  }
}


@include styles.respond-to(smartphone-small-height) {
  // height  531px

  .skills-container {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    height: auto;
  }

  .skill {
    margin-top: 20px;
    height: 50px;
    width: 40px;
  }

  h3 {
    font-size: styles.$h3-mobile-size-small-height;
  }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
  section {
    padding: 24px;
    padding-top: 58px;
    font-size: styles.$standard-text-mobile-small-size;
    line-height: styles.$standard-text-mobile-line-small-height;
  }

  .content-box-border {
    padding: 20px;
  }

  .skills-container {
    gap: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    height: auto;
  }

  .skills-div {
    margin-top: 12px;
  }

  .skill {
    height: 80px;
    margin-top: 20px;
    height: 50px;
    width: 40px;
  }

  h3 {
    font-size: styles.$h3-mobile-size-small-height;
  }
}