<section id="skills">
  <div class="content-box-skills">
    <h4>Who I Am</h4>
    <div class="content-box-border">
      <h3>About me</h3>
      <p>
        As a frontend developer based in Viernheim, I am passionate about the
        diversity within IT. With great enthusiasm, I design modern and
        user-friendly websites and applications that stand out with their clean
        aesthetics and intuitive usability.
      </p>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_1.svg" alt="" />
        <p>
          I am flexible when it comes to the workplace and deliver top
          performance both in the direct vicinity of Viernheim, Mannheim,
          Heidelberg, as well as remotely.
        </p>
      </div>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_2.svg" alt="" />
        <p>
          I am open to new challenges and always looking for opportunities to
          continuously improve my knowledge and skills.
        </p>
      </div>
      <div class="content-row">
        <img src="./../../../assets/img/about-me-highlights_3.svg" alt="" />
        <p>
          For me, programming is much more than just writing code – it's a
          creative way to solve problems. I place great importance on
          translating complex technical challenges into clear and user-friendly
          solutions. This way, I help you achieve your goals and bring your
          ideas to life..
        </p>
      </div>
    </div>
  </div>

  <div class="skills-container">
    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/HTML.svg" alt="" />
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/CSS.svg" alt="" />
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/JS.svg" alt="" />
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/MaterialDesign.svg" alt="" />
        <p>
          Material <br />
          Design
        </p>
      </div>
    </div>

    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/TypeScript.svg" alt="" />
        <p>TypeScript</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Angular.svg" alt="" />
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Firebase.svg" alt="" />
        <p>Firebase</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/GIT.svg" alt="" />
        <p>GIT</p>
      </div>
    </div>

    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/Rest-Api.svg" alt="" />
        <p>Rest-Api</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Scrum.svg" alt="" />
        <p>Scrum</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Growth_mindset.svg" alt="" />
        <p>
          Growth <br />
          mindset
        </p>
      </div>
    </div>
  </div>
</section>
