<section id="skills">
  <div class="content-box-skills">
    <h4>{{ "skills.title" | translate }}</h4>
    <div class="content-box-border">
      <h3>{{ "skills.subtitle" | translate }}</h3>
      <p>{{ "skills.intro" | translate }}</p>
      <span
        >{{ "skills.subline" | translate }}
        <a>{{ "skills.sublineExt" | translate }}</a></span
      >
      <p>{{ "skills.text" | translate }}</p>

      <a class="btn" href="#contact"
        ><span>{{ "skills.button" | translate }}</span></a
      >
    </div>
  </div>

  <div class="skills-container">

    <div class="skills-div" *ngFor="let skill of skills">
      <div class="skill">
        <img [src]="skill.img" [alt]="skill.skill" />
        <p>{{ skill.skill }}</p>
      </div>
    </div>

  </div>
</section>
