<section id="skills">
  <div class="content-box-skills">
    <h4>{{ 'skills.title' | translate }}</h4>
    <div class="content-box-border">
      <h3>{{ 'skills.subtitle' | translate }}</h3>
      <p>{{ 'skills.intro' | translate }}</p>
      <h4>{{ 'skills.subline' | translate }} <a> {{ 'skills.sublineExt' | translate }}</a></h4>
      <p>{{ 'skills.intro' | translate }}</p>
      <p>{{ 'skills.text' | translate }}</p>
      <button class="">{{ 'skills.button' | translate }}</button>
    </div>
  </div>

  <div class="skills-container">
    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/HTML.svg" alt="" />
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/CSS.svg" alt="" />
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/JS.svg" alt="" />
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/MaterialDesign.svg" alt="" />
        <p>
          Material <br />
          Design
        </p>
      </div>
    </div>

    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/TypeScript.svg" alt="" />
        <p>TypeScript</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Angular.svg" alt="" />
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Firebase.svg" alt="" />
        <p>Firebase</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/GIT.svg" alt="" />
        <p>GIT</p>
      </div>
    </div>

    <div class="skills-row">
      <div class="skill">
        <img src="./../../../assets/img/Rest-Api.svg" alt="" />
        <p>Rest-Api</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Scrum.svg" alt="" />
        <p>Scrum</p>
      </div>
      <div class="skill">
        <img src="./../../../assets/img/Growth_mindset.svg" alt="" />
        <p>
          Growth <br />
          mindset
        </p>
      </div>
    </div>
  </div>
</section>
