@import './../../../styles.scss';

section {
  @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 112px);
  padding: 96px 112px;
}

.content-box-skills {
  @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
}

.content-box-border {
  @include dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 38px);
  width: 568px;
  height: auto;
  padding: 32px;
  border-radius: 30px;
  border: 1px solid $content-box-border;
  background: $content-box-bg;
}

.skills-container {
  @include dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 48px);
  padding-top: 52px;
}

.skills-row {
  @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 72px);
  width: 100%;
  box-sizing: border-box;
}

.skill {
  @include dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);

  &:hover {
    transform:scale(1.1);
    transition: transform 0.3s ease;
  }

  >p {
    text-align: center;
  }
}