<section>
  <div class="banner-div">
    <div class="banner-text">
      <p>Available for remote work</p>

      <div class="spacer-div">
        <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
      </div>

      <p>Frontend Developer</p>

      <div class="spacer-div">
        <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
      </div>

      <p>Based in Viernheim</p>

      <div class="spacer-div">
        <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
      </div>

      <p>Open to work</p>

      <div class="spacer-div">
        <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
      </div>
    </div>
  </div>
</section>
