@import './../../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px); // Vertikale Zentrierung
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #FFFFFF1F;
    padding: 12px;
    transform: rotate(-3deg);
    transform-origin: top left;
    overflow: hidden;
}

.banner {
    @include dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 0px);
    animation: slide-left 20s linear infinite;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
    position: relative;
    overflow: hidden;
}

.spacer-div {
    @include dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100px;

    circle {
        fill: #3DCFB6;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}