<section>
  <div class="banner">
    <div class="spacer-div">
      <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
    </div>

    <p>{{ 'banner.remote' | translate }}</p>

    <div class="spacer-div">
      <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
    </div>

    <p>Frontend Developer</p>

    <div class="spacer-div">
      <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
    </div>

    <p>{{ 'banner.base' | translate }}</p>

    <div class="spacer-div">
      <svg class="spacer"><circle cx="50" cy="75" r="5" /></svg>
    </div>

    <p>{{ 'banner.status' | translate }}</p>
  </div>
</section>
