@use './../../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    overflow: hidden;
    z-index: 10000;
}

.banner-container {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: styles.$banner-bg-c;
    padding: 12px 0;
    transform: rotate(-3deg);
    transform-origin: bottom left;   
    max-width: 100%; 
    overflow: hidden;
    z-index: 10000;
}

.banner {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 0px);
    animation: slide-left 20s linear infinite;
    white-space: nowrap;
    width: 180%;
    box-sizing: border-box;
    padding: 0 12px;
    position: relative;
}

.spacer-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100px;

    circle {
        fill: styles.$banner-circle-color;
    }
}

// ==================
// ANIMATION
// ==================

@keyframes slide-left {
    0% {
        transform: translateX(110%);
    }

    100% {
        transform: translateX(-160%);
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(smartphone-medium) {
    .banner {
        font-size: styles.$banner-text-mobile-size;
        line-height: styles.$banner-text-mobile-line-height;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .banner-container {
        height: 30px;
    }

    .banner {
        font-size: styles.$banner-text-mobile-size;
        line-height: styles.$banner-text-mobile-line-height;
    }
}