<section id="projectPopup" (click)="closePopupOnClickOutside($event)">
  <div class="popup-container" (click)="$event.stopPropagation()">
    <div class="popup-content-box-left">
      <h1>0{{ project.id }}</h1>
      <h3>{{ project.title }}</h3>
      <p class="popup-project-headline">
        {{ "popup-project.headline" | translate }}
      </p>
      <p>{{ "projects." + project.id + ".description" | translate }}</p>

      <div class="popup-project-skills-box">
        <div
          class="popup-project-skill"
          *ngFor="let skillImage of matchingSkillImages"
        >
          <img [src]="skillImage.img" alt="{{ skillImage.skill }}" />
          <p>{{ skillImage.skill }}</p>
        </div>
      </div>

      <div class="popup-project-btn-div">
          <a 
          class="btn-popup" 
          [ngClass]="{ 'disabled-link': project.linksAvailable == false }" 
          [attr.href]="project.linksAvailable ? project.gitHub : null" 
          target="_blank"
        >
          <span>GitHub</span></a>
          <a 
          class="btn-popup" 
          [ngClass]="{ 'disabled-link': project.linksAvailable == false }" 
          [attr.href]="project.linksAvailable ? project.liveTest : null" 
          target="_blank"
        >
          <span>Live Test</span></a>
      </div>
    </div>

    <div class="popup-content-box-right">
      <svg (click)="close()" viewBox="0 0 24 24" width="35" height="35">
        <path
          d="M18.3 5.71a1 1 0 00-1.42 0L12 10.59 7.11 5.71A1 1 0 105.7 7.12L10.59 12l-4.88 4.88a1 1 0 001.42 1.42L12 13.41l4.88 4.88a1 1 0 001.42-1.42L13.41 12l4.88-4.88a1 1 0 000-1.41z"
        />
      </svg>
      <img [src]="'./' + project.imgGameplay" alt="{{ project.title }}" />
      <div class="popup-right-next-div"  (click)="loadNextProject()">
        <p>{{ "popup-project.next-project-text" | translate }}</p>
        <svg
          class="feedback-arrow"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M4 12h16" />
          <path d="M14 6l6 6-6 6" />
        </svg>
      </div>
    </div>
  </div>
</section>
