<section id="projectPopup" (click)="closePopupOnClickOutside($event)">
  <div class="popup-container-all" (click)="$event.stopPropagation()">

  <div class="popup-container">
    <div class="popup-content-box-left">
      <div class="popup-div-project-title">
        <h3 class="popup-project-id">0{{ project.id }}</h3>
        <h3 class="popup-project-name">{{ project.title }}</h3>
      </div>

      <div class="popup-div-project-content">
        <p class="popup-project-headline">
          {{ "popup-project.headline" | translate }}
        </p>
        <p>{{ "projects." + project.id + ".description" | translate }}</p>

        <div class="popup-project-skills-box">
          <div
            class="popup-project-skill"
            *ngFor="let skillImage of matchingSkillImages"
          >
            <img [src]="skillImage.img_green" alt="{{ skillImage.skill }}" />
            <p>{{ skillImage.skill }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-content-box-right">
      <svg (click)="close()" viewBox="0 0 24 24">
        <path
          d="M18.3 5.71a1 1 0 00-1.42 0L12 10.59 7.11 5.71A1 1 0 105.7 7.12L10.59 12l-4.88 4.88a1 1 0 001.42 1.42L12 13.41l4.88 4.88a1 1 0 001.42-1.42L13.41 12l4.88-4.88a1 1 0 000-1.41z"
        />
      </svg>
      <img [src]="'./' + project.imgGameplay" alt="{{ project.title }}" />
    </div>
  </div>

  <div class="popup-project-btn-div">
    <a
      class="btn-popup"
      [ngClass]="{ 'disabled-link': !project.gitHub || project.gitHub === ''}"
      [attr.href]="project.gitHub && project.gitHub !== '' ? project.gitHub : null"
      target="_blank"
    >
      <span>GitHub</span>
      <svg
        class="btn-popup-link-arrow"
        [attr.stroke]="project.gitHub ? '#3DCFB6' : 'grey'"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 25 25"
      >
        <path d="M7 17L17 7" />
        <path d="M7 7h10v10" />
      </svg>
    </a>
    <a
      class="btn-popup"
      [ngClass]="{ 'disabled-link': !project.liveTest || project.liveTest === ''}"
      [attr.href]="project.liveTest && project.liveTest !== '' ? project.liveTest : null"
      target="_blank"
    >
      <span>Live Test</span>
      <svg
        [attr.stroke]="project.liveTest ? '#3DCFB6' : 'grey'"
        class="btn-popup-link-arrow"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 25 25"
      >
        <path d="M7 17L17 7" />
        <path d="M7 7h10v10" />
      </svg>
    </a>
  </div>
  
  <div class="popup-content-box-bottom">
    <div class="popup-right-next-div" (click)="loadNextProject()">
      <p>{{ "popup-project.next-project-text" | translate }}</p>
      <svg
        class="feedback-arrow"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 12h16" />
        <path d="M14 6l6 6-6 6" />
      </svg>
    </div>
  </div>
</div>
</section>
