@use './../../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: styles.$bg-filter;
    z-index: 99909;
}

.popup-container-all {
    @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-start, $g: 0px);
    border: 1px solid styles.$feedback-container-border;
    border-radius: 20px;
    box-sizing: border-box;
    background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
    padding: 20px 40px;
    margin: 3px;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
}

.popup-container {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-start, $g: 24px);
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    height: auto;
}

.popup-content-box-left {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 4rem);
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.popup-content-box-right {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-end, $g: 0px);
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    >svg {
        fill: styles.$project-close-cross;
        width: auto;
        height: clamp(1.5rem, 4vw, 4rem);

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
            fill: styles.$project-close-cross-hover;
        }
    }

    >img {
        margin-top: 62px;
        width: 100%;
        max-width: 550px;
        height: auto;
        border-radius: 30px;
        object-fit: cover;
    }
}

.popup-div-project-title {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    box-sizing: border-box;
}

.popup-div-project-content {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 4rem);
    width: 100%;
    box-sizing: border-box;
}

.popup-project-skills-box {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);
    width: 100%;
    box-sizing: border-box;
    height: auto;
    flex-wrap: wrap;
}

.popup-project-skill {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 2px);

    >img {
        width: clamp(1.5rem, 4vw, 2rem);
        height: auto;
    }

    >p {
        padding-right: 8px;
    }
}

.popup-project-btn-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
}

.popup-right-next-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 12px);

    >p {
        color: styles.$main-color;

        &:hover {

            color: styles.$main-text;
        }
    }

    >svg {
        stroke: styles.$main-color;
        width: auto;
        height: clamp(1.5rem, 4vw, 4rem);
    }

    &:hover {
        cursor: pointer;

        >svg {
            filter: brightness(1.2);
            transform: translateX(8%);
        }
    }
}

.disabled-link {
    color: grey;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}

.btn-popup {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 2px);
}

.btn-popup-link-arrow {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    width: auto;
    height: clamp(0.5rem, 4vw, 2rem);
    fill: none;
    stroke-width: 1;
}

.popup-content-box-bottom {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-end, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {

    .popup-container-all {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px 50px;
        height: 95%;
        overflow-y: auto;
    }

    .popup-container {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .popup-content-box-left {
        width: 100%;
        height: auto;
        gap: 2rem;
    }

    .popup-content-box-right {
        align-items: flex-start;
        width: 100%;
        padding-bottom: 2rem;
        height: auto;

        >svg {
            padding-bottom: 30px;
            margin-left: 100%;
        }

        >img {
            margin-top: 0px;
        }
    }

    .popup-div-project-content {
        gap: 2rem;
    }

    .popup-project-btn-div {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding-bottom: 10%;
    }

    .popup-project-skills-box {
        padding-top: 1rem;
    }
}

@include styles.respond-to(smartphone-small) {
    .popup-container-all {
        padding: 20px 30px;
    }
}