// @import './../../../../styles.scss';
@use './../../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: styles.$bg-filter;
    z-index: 99909;
}

.popup-container-all {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
    border: 1px solid styles.$feedback-container-border;
    border-radius: 20px;
    overflow: auto;
    box-sizing: border-box;
    background: linear-gradient(to top right, styles.$bg-linear-c-1, styles.$bg-linear-c-2);
    padding: 50px;
    margin: 3px;
    height: 90%;
    width: 100%;
}

.popup-container {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);
}

.popup-content-box-left {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 120px);
    width: 50%;
    height:100%;
    padding-top:62px;
    box-sizing: border-box;
}

.popup-div-project-title {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
    width: 100%;
    box-sizing: border-box;
}

.popup-div-project-content {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
    width: 100%;
    box-sizing: border-box;
}

.popup-project-skills-box {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 12px);
    width: 100%;
    box-sizing: border-box;
}

.popup-project-skill {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 2px);

    >img {
        width: 30px;
        height: 30px;
    }

    >p {
        padding-right: 8px;
    }
}

.popup-project-btn-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: flex-start, $g: 24px);
    padding-top: 18px;
    width: 100%;
    box-sizing: border-box;
}

.popup-content-box-right {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-end, $g: 0px);
    width: 50%;
    height:100%;
    box-sizing: border-box;

    >svg {
        fill: styles.$project-close-cross;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
            fill: styles.$project-close-cross-hover;
        }
    }

    >img {
        margin-top:62px;
        width: 560px;
        height: 380px;
        border-radius: 30px;
        object-fit: cover;
    }
}

.popup-right-next-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 12px);

    >p {
        color: styles.$main-color;

        &:hover {

            color: styles.$main-text;
        }
    }

    >svg {
        stroke: styles.$main-color;
    }

    &:hover {
        cursor: pointer;

        >svg {
            filter: brightness(1.2);
            transform: translateX(8%);
        }
    }
}

.disabled-link {
    color: grey;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}

.btn-popup {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 2px);
}

.btn-popup-link-arrow {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    width: 30px;
    height: 30px;
    fill: none;
    stroke-width: 1;
}

.popup-content-box-bottom {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-end, $ai: flex-start, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
    .popup-container-all {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
        padding: 20px;
        height: 95%;
        width: 100%;
    }

    .popup-container {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 12px 24px;
    }

    .popup-content-box-left {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 24px);
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top:14px;
    }

    .popup-content-box-right {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 0px);
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: -15px;

        >svg {
            margin-left: calc(100% - 20px);
            padding-bottom: 30px;
        }

        >img {
            margin-top: 0px;
            width: 80%;
            height: auto;
            object-fit: cover;
            border-radius: 30px;
        }
    }

    .popup-content-box-bottom {
        padding: 0px 24px;
    }

    .popup-div-project-content {
        gap: 48px;
    }

    .popup-div-project-title {
        gap: 24px;
    }

    .popup-project-skills-box {
        height: auto;
        flex-wrap: wrap;
    }

    .popup-project-btn-div {
        padding-top: 52px;
    }
}

@include styles.respond-to(tablet-small) {
    .popup-content-box-right {
        padding-top: -15px;

        >svg {
            padding-bottom: 12px;
        }
    }

    .popup-content-box-left {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);
    }

    .popup-div-project-content {
        gap: 32px;
    }

    .popup-project-btn-div {
        padding-top: 38px;
    }

    .popup-div-project-title {
        gap: 12px;
    }
}

@include styles.respond-to(smartphone-medium) {

    section {
        @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
    }

    .popup-container-all {
        @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 0px);
        padding: 5px;
        margin: 0px;
        height: 95%;
        width: 100%;
    }

    .popup-container {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 12px 24px;
    }

    .popup-content-box-left {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 24px);
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .popup-content-box-right {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 0px);
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: -15px;

        >svg {
            margin-left: calc(100% - 20px);
            padding-bottom: 30px;
        }

        >img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 30px;
        }
    }

    .popup-content-box-bottom {
        padding: 20px 24px;
    }

    .popup-div-project-content {
        gap: 48px;
    }

    .popup-div-project-title {
        gap: 24px;
    }

    .popup-project-skills-box {
        height: auto;
        flex-wrap: wrap;
    }
}

@include styles.respond-to(smartphone-small) {
    section {
        padding: 0 10px;
    }

    .popup-content-box-right {
        >svg {
            margin-left: calc(100% - 30px);
        }
    }

    .popup-container {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 12px 5px;
    }

    .popup-project-btn-div {
        gap: 12px;
    }
}