@use './../../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-end, $g: 0px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    padding: 0px 96px;
}

.left {
    @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-end, $g: 9px);

    hr {
        border: none;
        height: 210px;
        width: 2px;
        background-color: styles.$hr-color;
    }
}

.right-links-icons {
    @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 9px);

    >a:first-child {
        display: none;
    }
}

.right {
    @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-end, $g: 8px);
    width: 0;
    box-sizing: border-box;

    >div:first-child {
        position: relative;
        top: -130px;
        right: -90px;

        >a {
            transform: rotate(270deg);
            white-space: nowrap;
            display: inline-block;
            color: styles.$a-visited-color;
        }
    }

    >a {
        >img {
            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    hr {
        border: none;
        height: 160px;
        width: 2px;
        background-color: styles.$main-text;
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(desktop-normal) {
    section {
        padding: 0px 78px;
    }
}

@include styles.respond-to(tablet-large) {
    section {
        padding: 0px 62px;
    }
}


@media screen and (max-width: 1331px) {
    .right {
        >div:first-child {
            display: none;
        }
    }

    .right-links-icons {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);

        >a:first-child {
            display: block;
        }
    }
}

@include styles.respond-to(smartphone-medium) {
    section {
        padding: 0px 38px;
    }

    .left {
        gap: 12px;

        hr {
            height: 280px;
        }
    }

    .right {
        >div:first-child {
            display: none;
        }

        hr {
            height: 150px;
        }
    }

    .right-links-icons {
        @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 12px);

        >a:first-child {
            display: block;
        }
    }
}

@include styles.respond-to(smartphone-small) {
    section {
        padding: 0px 24px;
    }
}

@include styles.respond-to(smartphone-medium-height) {
    .left hr {
        height: 240px;
    }

    .right hr {
        height: 150px;
    }
}

@include styles.respond-to(smartphone-small-height) {
    .left hr {
        height: 146px;
    }

    .right hr {
        height: 76px;
    }

    .right-links-icons {
        gap: 4px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .left hr {
        height: 146px;
    }

    .right hr {
        height: 76px;
    }

    .right-links-icons {
        gap: 4px;
    }
}