<section>
    <div class="left">
        <img src="./../../../../assets/img/arrow-down.svg" alt="">
        <hr>
    </div>
    <div class="right">
        <div><a href="mailto:mail@samuelhilgert.com">mail&#64;samuelhilgert.com</a></div>
        <a href="https://github.com/samuelHilgert/portfolio.git" target="_blank"><img src="./../../../../assets/img/github-icon.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/samuel-hilgert-4681192b1/" target="_blank"><img src="./../../../../assets/img/linkedIn-icon.svg" alt=""></a>
        <hr>
    </div>
</section>
