@import './../../../../styles.scss';

section {
    @include dFlex($d: flex, $fd: row, $jc: space-between, $ai: flex-end, $g: 0px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -17px;
    padding: 0px 112px;
}

.left {
    @include dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-end, $g: 0px);
    hr {
        border: none;
        height: 210px;
        width: 2px;
        background-color: $hr-color;
    }
}

.right {
    @include dFlex($d: flex, $fd: column, $jc: space-between, $ai: center, $g: 8px);
    width: 0;
    box-sizing: border-box;

    >div {
        position: relative;
        top: -130px;

        >a {
            transform: rotate(270deg);
            white-space: nowrap;
            display: inline-block;
            color:$a-visited-color;
        }
    }

    hr {
        border: none;
        height: 200px;
        width: 2px;
        background-color: $hr-color;
    }
}