@forward './app/shared/styles/button.scss';
@forward './app/shared/styles/colors.scss';
@forward './app/shared/styles/fonts.scss';
@forward './app/shared/styles/logo.scss';
@forward './app/shared/styles/standard.scss';

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #3DCFB6 #dddddd00;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3DCFB6;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
  border: 1px solid #00000000;
}

// Variables for breakpoints
$breakpoint-desktop-large: 1920px; //min-width
$breakpoint-desktop-normal: 1366px;
$breakpoint-tablet-large: 1024px;
$breakpoint-tablet-small: 768px;
$breakpoint-smartphone-medium: 576px;
$breakpoint-smartphone-small: 385px;
$breakpoint-smartphone-medium-height: 800px;
$breakpoint-smartphone-small-height: 531px;

// Mixins for media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint ==desktop-large {
    @media (min-width: $breakpoint-desktop-large) {
      @content;
    }
  }

  @else if $breakpoint ==desktop-normal {
    @media (max-width: $breakpoint-desktop-normal) {
      @content;
    }
  }

  @else if $breakpoint ==tablet-large {
    @media (max-width: $breakpoint-tablet-large) {
      @content;
    }
  }

  @else if $breakpoint ==tablet-small {
    @media (max-width: $breakpoint-tablet-small) {
      @content;
    }
  }

  @else if $breakpoint ==smartphone-medium {
    @media (max-width: $breakpoint-smartphone-medium) {
      @content;
    }
  }

  @else if $breakpoint ==smartphone-small {
    @media (max-width: $breakpoint-smartphone-small) {
      @content;
    }
  }

  @else if $breakpoint ==smartphone-medium-height {
    @media (max-height: $breakpoint-smartphone-medium-height) {
      @content;
    }
  }

  @else if $breakpoint ==smartphone-small-height {
    @media (max-height: $breakpoint-smartphone-small-height) {
      @content;
    }
  }
}