// @import './../../../styles.scss';
@use './../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    background-color: styles.$footer-bg-c;
    padding: 0px 112px;
    padding-bottom: 52px;
    padding-top: 48px;
}

.footer-left {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);

    >img {
        height: 60px;
        width: auto;
    }
}

.footer-left-text {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);
}

.footer-center {
    color: styles.$footer-center-c;
}

.footer-right {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);
    color: styles.$main-text;
    >a {
        color: styles.$main-text;
        &:visited, :hover {
            color: styles.$main-text;
        }
    }

}