
@use './../../../styles.scss' as styles;

section {
    @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: flex-start, $g: 32px);
    background-color: styles.$footer-bg-c;
    padding: 96px 92px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-top {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0px);
    width: 100%;
    box-sizing: border-box;
}

.footer-left {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
}

.logo-div {
    >img {
        height: 72px;
        width: auto;
    }
}

.footer-left-text {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);
}

.footer-center {
    color: styles.$footer-center-c;
}

.footer-bottom {
    display: none;
}

.footer-right {
    @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);
    color: styles.$main-text;

    >a {
        color: styles.$main-text;

        &:visited,
        :hover {
            color: styles.$main-text;
        }
    }
}

// ==================
// RESPONSIVE STYLES
// ==================

@include styles.respond-to(tablet-large) {
    section {
        padding: 80px;
        gap: 48px;
        margin-top: -1px;
    }
}

@include styles.respond-to(tablet-small) {
    section {
        gap: 32px;
        padding-top: 58px;
    }
}

@media screen and (max-width: 720px) {
    .footer-center {
        display: none;
    }
    
    .footer-bottom {
        @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px);
        width: 100%;
        box-sizing: border-box;
        color: styles.$footer-center-c;
    }
}


@include styles.respond-to(smartphone-medium) {
    section {
        padding: 52px;
        padding-top: 58px;
    }

    .logo-div {
        >img {
            height: 68px;
            width: auto;
        }
    }

    .logo-text {
        >p {
            font-size: 24px !important;
        }
    }
}

@include styles.respond-to(smartphone-small) {
    section {
        padding: 78px 24px;
        padding-top: 52px;
    }

    .footer-top {
        @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 32px);
    }

    .logo-div {
        >img {
            height: 58px;
            width: auto;
        }
    }

    .logo-text {
        >p {
            font-size: 16px !important;
            line-height: 10px  !important;
        }
    }

    .footer-bottom {
        padding-top: 32px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    section {
        padding: 78px 24px;
        padding-top: 52px;
    }

    .footer-top {
        @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 32px);
    }

    .logo-div {
        >img {
            height: 58px;
            width: auto;
        }
    }

    .logo-text {
        >p {
            font-size: 16px !important;
            line-height: 10px  !important;
        }
    }

    .footer-bottom {
        padding-top: 32px;
    }
}