<section>
  <div class="footer-top">

  <div class="footer-left terms-text">
    <a href="#hero">
      <div class="logo-div">
        <img src="./../../../assets/img/logo-sh.png" alt="" />
        <div class="logo-text">
          <p>Samuel</p>
          <p>Hilgert</p>
        </div>
      </div>
    </a>

    <div class="footer-left-text">
      <p>Web Developer</p>
      <p>Viernheim Germany</p>
    </div>
  </div>

  <div class="footer-center">
    <p>© Samuel Hilgert 2024</p>
  </div>

  <div class="footer-right terms-text">
    <a href="https://github.com/samuelHilgert/portfolio.git" target="_blank"
      >Git Hub</a>
    <a
      href="https://www.linkedin.com/in/samuel-hilgert-4681192b1/"
      target="_blank">LinkedIn</a>
    <a href="mailto:mail@samuelhilgert.com">Email</a>
    <a href="legal-notice">{{ "footer.legal-notice" | translate }}</a>
  </div>
</div>

<div class="footer-bottom">

  <div class="footer-brand">
    <p>© Samuel Hilgert 2024</p>
  </div>

</div>
</section>


